<p class="mb-0">
    <mat-toolbar color="primary">
        <button mat-icon-button class="btn__hamburguer" aria-label="Example icon-button with menu icon">
            <mat-icon class="menu__icon">menu</mat-icon>
        </button>
        <span class="spacer"></span>
        <img src="assets/images/bolt-logo.png" width="80px" height="56px" alt="Bolt Energy Logo">
    </mat-toolbar>
</p>

<p>
    <mat-toolbar class="toolbar__current-area" color="primary">
        <span>{{ currentArea }}</span>
    </mat-toolbar>
</p>


<bolt-all-users></bolt-all-users>