.spacer {
    flex: 1 1 auto;
}

.btn__hamburguer {
    background-color: transparent;
    border          : none;
}

.btn__hamburguer:hover {
    cursor : pointer;
    opacity: 0.9;
}

.menu__icon {
    color: #fff;
}

.toolbar__current-area {
    justify-content: center;
    border-top     : solid 1px white;
}

.anchor__item {
    text-decoration: none;
    cursor         : pointer;
    color          : #3f3e3e;
}

.anchor__item:hover {
    opacity         : 0.8;
    background-color: #dadada;
}